.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #626268;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.loader {
    width: 15px;
    height: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

.task {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.addTask, .searchSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #4CAF50;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button:disabled {
    background-color: red;
    transform: scale(0.95);
}

.deleteButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.deleteButton:hover {
    background-color: darkred;
}

.deleteButton:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.updateButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.updateButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.updateButton:disabled {
    background-color: grey;
    cursor: not-allowed;
    transform: scale(0.95);
}
